<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <!-- <arg name="x_pos" default="-3.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/> -->

  <!-- <env name="GAZEBO_RESOURCE_PATH" value="$(find sim_env)/gazebo_images/includes/meshes"/> -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="/home/nics/workspace/benchmark/world/room.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <group ns="robot1">
      <include file="$(find sim_env)/launch/includes/robot.launch.xml">
          <arg name="robot_name" value="robot1"/>
          <arg name="model" value="$(arg model)"/>
          <arg name="init_pose" value="-x 8 -y 7.5 -z 0.0 -Y 1.57"/>
      </include>
  </group>

  <group ns="robot2">
      <include file="$(find sim_env)/launch/includes/robot.launch.xml">
          <arg name="robot_name" value="robot2"/>
          <arg name="model" value="$(arg model)"/>
          <arg name="init_pose" value="-x -7.5 -y -8 -z 0.0 -Y 1.57"/>
      </include>
  </group>

  <!-- <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="1 2 3 0 0 0 robot2/map robot2/odom 100" /> -->

</launch>
